table{
     margin-top: 50px;
     width: 100%;
}

table, th, td {
     border: 1px solid;
     text-align: center;
     vertical-align: middle;
}

.body{
     margin: 50px;
}

.action-btn{
     border-style: none;
     background-color: transparent;
}

th{
     height: 48px;
     background-color: rgb(233, 236, 241);
}

.add-btn{
     height: 55px;
     width: 100%;
}

.filter{
     width: 100%;
}

.c-c{
     width: 50%;
}