.action{
    margin-top: 25px;
    margin-bottom: 15px;
    max-width: 600px;
    vertical-align: middle;
    max-height: 55px;
}
.action button{
    height: 100%;
    margin-left: 10px;
}

table{
    width: 50%;
}

table, th, td {
    border: 1px solid;
    text-align: center;     
    vertical-align: middle;
}

