canvas{
    max-height: 400px;
}

div{
    margin-top: 20px;
    margin-left: 20px;
}

.data{
    width: 30px;
}

.chart{
    width: 50px;
}

table{
    width: 100%;
    border: solid;
    border-width: 1px;
}

thead{
    height: 55px;
    background-color: rgb(214, 211, 200);
    border-bottom: solid;
    border-bottom-width: 1px;
}

td{
    border-bottom: solid;
    border-bottom-width: 1px;
}
