<div class="d-flex justify-content-center">
     <div class="mb-3 hold">
          <div class="g-3 row top-act">
               <mat-form-field appearance="outline" class="col top-act">
                    <mat-select placeholder="Select Scale" [value]="val" (valueChange)="scaleChange($event)">
                         <mat-option [value]="4">GPA Scale 4.0</mat-option>
                         <mat-option [value]="5">GPA Scale 5.0</mat-option>
                    </mat-select>
               </mat-form-field>
               <button *ngIf="isAdmin" mat-raised-button color="primary" class="col top-act" (click)="addGrade()"> <mat-icon>add</mat-icon> Add Grade </button>
          </div>
          <br>
          <div  class=" g-3 row">
               <table >
                    <thead >
                         <tr>
                              <th mat-header-cell> Grade </th>
                              <th  mat-header-cell> Points </th>
                              <th  mat-header-cell> Marks </th>
                              <th *ngIf="isAdmin">  Action </th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let grade of grades">
                              <td> {{grade.gradeName}} </td>
                              <td> {{grade.points}} </td>
                              <td> {{grade.minNumber}} - {{grade.maxNumber}} </td>
                              <td *ngIf="isAdmin">
                                   <button  mat-icon-button (click)="editGrade(grade.id)" > <mat-icon color="primary">edit</mat-icon> </button>
                                   <button mat-icon-button (click)="deleteGrade(grade.id)" > <mat-icon color="warn" > delete </mat-icon> </button>
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
</div>
