<html>
    <head>
        <title>PersonalBook</title>
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
    <body>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <footer class="bg-light text-center text-white" >
            <div class="container p-4 pb-0">
              <section class="mb-4">
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/g64arnab/" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/arnab-goswami-91b14a229/" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/arnab64g" role="button"  ><i class="fab fa-github"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: red;" href="https://www.youtube.com/channel/UCNVLZ9ZnJS_AGxZiUmENSvg" role="button"><i class="fab fa-youtube"></i></a>
              </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(11, 58, 146, 0.2); color: #333333;">© 2023 Copyright:
              <a class="text-primary" href="mailto:arnab64g@gmail.com">Arnab G.</a>
            </div>
          </footer>
    </body>
</html>